@CHARSET "UTF-8";
table{
	border-collapse:separate;
}

.td_time_hover {
	background-color: #feffd0!important;
	border-color: #fdff83!important;
	border-width: 1px !important;
}

div.fc-slats table td, th {
	position: relative;
}

div.fc-slats  table {
	overflow: hidden;
}

.fc-today {
	background: transparent !important;
}

.th-hover {
	background-color: #b9ccb1 !important;
}

#meeting_table tbody tr td:first-child {
	text-align: center;
}

#meeting_table thead tr th {
	text-align: center;
}

#meeting_table tbody tr td:not(:first-child ){
	cursor: pointer;
}

#meeting_table tbody tr td.booking {
	background-color: #ffe3cb;
	border-color: #ebb1a5;
	border-width: 1px 1px 1px 1px !important;
}